{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"worker": true
	},
	"plugins": [
		"react"
	],
	"globals": {
		"window": true
	},
	"rules": {
		"semi": [
			"error",
			"always"
		],
		"curly": 2,
		"eqeqeq": 2,
		"no-console": 0,
		"new-cap": 2,
		"strict": 0,
		"no-underscore-dangle": 2,
		"quotes": [
			"error",
			"double"
		],
		"jsx-quotes": 2,
		"react/jsx-no-undef": 2,
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"array-callback-return": 2,
		//"complexity": [2, 4],
		"dot-notation": 2,
		"no-alert": 2,
		"no-eq-null": 2,
		"no-empty-function": 2,
		"no-eval": 2,
		"no-extend-native": 2,
		"no-floating-decimal": 2,
		"no-invalid-this": 2,
		"no-lone-blocks": 2,
		"no-loop-func": 2,
		"no-magic-numbers": [
			2,
			{
				"ignoreArrayIndexes": true
			}
		],
		"no-multi-spaces": 2,
		"no-multi-str": 2,
		"no-native-reassign": 2,
		"no-param-reassign": 2,
		"no-proto": 2,
		"no-redeclare": 2,
		"no-script-url": 2,
		"no-self-assign": 2,
		"no-self-compare": 2,
		"no-sequences": 2,
		"no-throw-literal": 2,
		"no-unused-expressions": 2,
		"no-void": 2,
		"yoda": 2,
		"no-shadow": 2,
		"no-unused-vars": 2,
		"no-use-before-define": 2,
		"array-bracket-spacing": [
			2,
			"never"
		],
		"camelcase": [
			2,
			{
				"properties": "always"
			}
		],
		"brace-style": 2,
		"comma-spacing": [
			2,
			{
				"before": false,
				"after": true
			}
		],
		"comma-style": [
			2,
			"last"
		],
		"consistent-this": [
			2,
			"self"
		],
		"eol-last": 2,
		"indent": [
			2,
			2,
			{
				"SwitchCase": 1
			}
		],
		"key-spacing": [
			2,
			{
				"beforeColon": false,
				"afterColon": true
			}
		],
		//"key-spacing": [2, { "align": "colon", "beforeColon": true, "afterColon": false }]
		"keyword-spacing": [
			2,
			{
				"overrides": {
					"if": {
						"after": true
					},
					"for": {
						"after": false
					},
					"while": {
						"after": false
					}
				}
			}
		],
		"linebreak-style": [
			2,
			"unix"
		],
		//"max-statements": 200,
		"new-parens": 2,
		"no-confusing-arrow": 2,
		"no-const-assign": 2,
		"no-dupe-class-members": 2,
		"prefer-template": 2
	}
}
